@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Rubik", sans-serif;
}

body {
  background: radial-gradient(circle, rgb(228, 61, 145) 24%, rgb(71, 48, 127) 81%);
}

header .connect-btn-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 20px;
}
header .connect-btn-container #connect-btn {
  padding: 8px 9px;
  border: 1px solid #47307f, #e43d91;
  background: linear-gradient(to top, #e43d91, #47307f);
  border-radius: 5px;
  color: white;
  border: 1px solid #e43d91;
  font-size: 18px;
  cursor: pointer;
}
header .connect-btn-container #connect-btn #wallet-icon {
  font-size: 20px;
  color: whitesmoke;
  margin-right: 6px;
}
@media only screen and (max-width: 900px) {
  header .connect-btn-container #connect-btn #wallet-icon {
    margin-right: 5px;
  }
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.main-container .inner-container {
  padding: 4% 13%;
  text-align: center;
  border-radius: 15px;
  background-color: rgba(21, 21, 21, 0.5);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.main-container .inner-container .illustration-container {
  margin-bottom: 3em;
}
.main-container .inner-container .illustration-container .illustration {
  width: 50%;
  height: 30%;
}
.main-container .inner-container .text {
  color: whitesmoke;
}
.main-container .inner-container .main-button-wrap-1 {
  margin-top: 4%;
  display: flex;
}
.main-container .inner-container .main-button-wrap-1 .inner-button-wrap-1 {
  margin: 0% 1%;
}
.main-container .inner-container .main-button-wrap-1 .inner-button-wrap-1 button {
  padding: 5px 14px;
  border-radius: 5px;
  font-size: 17px;
  background-color: rgba(21, 21, 21, 0.5);
  text-decoration: none;
  color: white;
  border: 1px solid #e43d91;
  margin: 3px;
}
.main-container .inner-container .main-button-wrap-1 .inner-button-wrap-1 button:hover {
  transition: all 255ms ease-in-out;
  cursor: pointer;
  background: radial-gradient(circle, rgb(228, 61, 145) 24%, rgb(71, 48, 127) 81%);
}
.main-container .inner-container .main-button-wrap-2 {
  display: flex;
  justify-content: center;
}
.main-container .inner-container .main-button-wrap-2 .inner-button-wrap-2 {
  margin: 0% 2%;
}
.main-container .inner-container .main-button-wrap-2 .inner-button-wrap-2 button {
  padding: 5px 14px;
  border-radius: 5px;
  font-size: 17px;
  background-color: rgba(21, 21, 21, 0.5);
  text-decoration: none;
  color: white;
  border: 1px solid #e43d91;
  margin: 3px;
}
.main-container .inner-container .main-button-wrap-2 .inner-button-wrap-2 button:hover {
  transition: all 255ms ease-in-out;
  cursor: pointer;
  background: radial-gradient(circle, rgb(228, 61, 145) 24%, rgb(71, 48, 127) 81%);
}
@media only screen and (max-width: 900px) {
  .main-container .inner-container {
    padding: 10% 10%;
    margin-bottom: 6em;
  }
}/*# sourceMappingURL=main.css.map */