@import "mediaquery";

// Import google Font
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');


// Color scheme

$background-color: radial-gradient(
    circle,
    rgba(49, 164, 176, 1) 21%,
    rgba(24, 43, 68, 1) 59%
  );


$button-color: linear-gradient(
    90deg,
    rgba(49, 164, 176, 1) 10%,
    rgba(24, 43, 68, 1) 53%
  );

$text-color: white;
$icon-color:rgb(56,15,89);



// Start

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Rubik', sans-serif;
  
}

body {
  // background: radial-gradient(circle, rgba(56,16,86,1) 2%, rgba(11,9,40,1) 42%);
  // background: radial-gradient(circle, rgba(49,164,176,1) 10%, rgba(24,43,68,1) 53%);
  // background: radial-gradient(circle, rgba(34,54,83,1) 7%, rgba(64,169,180,1) 55%);
  // background: radial-gradient(circle, rgba(34,54,83,1) 4%, rgba(43,184,140,1) 51%, rgba(64,169,180,1) 79%);
  // background: radial-gradient(circle, rgba(34,54,83,1) 24%, rgba(48,98,120,1) 60%, rgba(48,123,131,1) 81%);
  background: radial-gradient(circle, rgba(228,61,145,1) 24%, rgba(71,48,127,1) 81%);



}

header {
  .connect-btn-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 20px;

  

    #connect-btn {
      padding: 8px 9px;
      border: 1px solid #47307f, #e43d91 ;
      background: linear-gradient(to top, #e43d91, #47307f);

      border-radius: 5px ;
      color: white;
      border: 1px solid #e43d91;
      font-size: 18px;
      cursor: pointer;

      #wallet-icon {
        font-size: 20px;
        color: whitesmoke;
        margin-right:6px;
  
        @include responsive(phone) {
          margin-right: 5px;
        }
      }
    }
  }
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;

  .inner-container {
    
    padding: 4% 13%;
    text-align: center;
    border-radius: 15px;
    background-color: rgba(21, 21, 21, 0.5);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    
 



    .illustration-container {
      margin-bottom: 3em;
      // .illustration {
      // }

      .illustration{
        width: 50%;
        height: 30%;
      }

    }

    .text {
      color: whitesmoke;
    }

    // First main btn container

     
    .main-button-wrap-1{

      display: flex;
      

      .inner-button-wrap-1 {
        margin: 0% 1%;
        
  
        button {
          padding: 5px 14px;
          border-radius: 5px;
          font-size: 17px;
          background-color: rgba(21, 21, 21, 0.5);
          text-decoration: none;
          color: white;
          border: 1px solid #e43d91;
          margin: 3px;
        }
  
        button:hover {
          transition: all 255ms ease-in-out;
          cursor: pointer;
          background: radial-gradient(circle, rgba(228,61,145,1) 24%, rgba(71,48,127,1) 81%);

        }

        // Button icon
  
        // .eth-icon{
        //   color:$text-color ;
        //   margin-right: 5px;
  
        //   @include responsive(phone){
        //     .eth-icon{
        //       margin-right: 4px;
        //       color:$text-color ;
        //     }
  
        //   }
  
        
        // }
  
  
        // 
  
       
  
      }

    }


    

    // Second main button wrap

    .main-button-wrap-2{
      display: flex;
      justify-content: center;
    

      .inner-button-wrap-2{

        margin: 0% 2%;

        button {
          padding: 5px 14px;
          border-radius: 5px;
          font-size: 17px;
          // background: radial-gradient(circle, rgba(228,61,145,1) 24%, rgba(71,48,127,1) 81%);
          background-color: rgba(21, 21, 21, 0.5);
          text-decoration: none;
          color: white;
          border: 1px solid #e43d91 ;
          margin: 3px;


        }
        button:hover {
          transition: all 255ms ease-in-out;
          cursor: pointer;
          background: radial-gradient(circle, rgba(228,61,145,1) 24%, rgba(71,48,127,1) 81%);

        }

      }

    }

  }

  // Mobile responsiveness

  @include responsive(phone) {
    .inner-container {
      padding: 10% 10%;
      margin-bottom: 6em;
    }

  
  }
}
